include pug/common/_head
    block content
        include pug/common/_header
        main#main
            .container
                .row
                    .col-md-8
                        #content
                            .title
                                h1 Heading 1
                            h2 Heading 2
                            h3 Heading 3
                            h4 heading 4
                            h5 Heading 5
                            h6 heading 6
                            figure.wp-block-image
                                img.wp-image-87(src='http://teamoneexhibits/wp-content/uploads/2019/02/wp1889560-1024x749.jpg', alt='', srcset='http://teamoneexhibits/wp-content/uploads/2019/02/wp1889560-1024x749.jpg 1024w, http://teamoneexhibits/wp-content/uploads/2019/02/wp1889560-300x219.jpg 300w, http://teamoneexhibits/wp-content/uploads/2019/02/wp1889560-768x562.jpg 768w', sizes='(max-width: 1024px) 100vw, 1024px')
                                figcaption Anfield
                            ul.wp-block-gallery.columns-2.is-cropped
                                li.blocks-gallery-item
                                    figure
                                        img.wp-image-54(src='http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1024x749.jpg', alt='', data-id='54', data-link='http://teamoneexhibits/test/wp1889560/', srcset='http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1024x749.jpg 1024w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-300x219.jpg 300w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-768x562.jpg 768w', sizes='(max-width: 1024px) 100vw, 1024px')
                                li.blocks-gallery-item
                                    figure
                                        img.wp-image-55(src='http://teamoneexhibits/wp-content/uploads/2019/01/210458495-0f78754d-7613-4047-8d80-ba558a5a9de6.jpg', alt='', data-id='55', data-link='http://teamoneexhibits/test/210458495-0f78754d-7613-4047-8d80-ba558a5a9de6/', srcset='http://teamoneexhibits/wp-content/uploads/2019/01/210458495-0f78754d-7613-4047-8d80-ba558a5a9de6.jpg 885w, http://teamoneexhibits/wp-content/uploads/2019/01/210458495-0f78754d-7613-4047-8d80-ba558a5a9de6-300x190.jpg 300w, http://teamoneexhibits/wp-content/uploads/2019/01/210458495-0f78754d-7613-4047-8d80-ba558a5a9de6-768x486.jpg 768w', sizes='(max-width: 885px) 100vw, 885px')
                                li.blocks-gallery-item
                                    figure
                                        img.wp-image-56(src='http://teamoneexhibits/wp-content/uploads/2019/01/vlWRT-1-1024x576.jpg', alt='', data-id='56', data-link='http://teamoneexhibits/test/vlwrt-2/', srcset='http://teamoneexhibits/wp-content/uploads/2019/01/vlWRT-1-1024x576.jpg 1024w, http://teamoneexhibits/wp-content/uploads/2019/01/vlWRT-1-300x169.jpg 300w, http://teamoneexhibits/wp-content/uploads/2019/01/vlWRT-1-768x432.jpg 768w', sizes='(max-width: 1024px) 100vw, 1024px')
                            p.has-text-color.has-background.has-very-light-gray-color.has-vivid-red-background-color
                                img.wp-image-74(style='width: 150px;', src='http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1.jpg', alt='', srcset='http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1.jpg 2638w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1-300x219.jpg 300w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1-768x562.jpg 768w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1-1024x749.jpg 1024w', sizes='(max-width: 2638px) 100vw, 2638px')
                                br
                                a(href='https://en.wikipedia.org/wiki/Anfield') Anfield
                                | , home of Liverpool F.C.
                            p
                                img.wp-image-74(style='width: 150px;', src='http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1.jpg', alt='', srcset='http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1.jpg 2638w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1-300x219.jpg 300w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1-768x562.jpg 768w, http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-1-1024x749.jpg 1024w', sizes='(max-width: 2638px) 100vw, 2638px')
                                br
                                a(href='https://en.wikipedia.org/wiki/Anfield') Anfield
                                | , home of Liverpool F.C.
                            p
                                strong Liverpool Football Club
                                |  is a professional 
                                a(href='https://en.wikipedia.org/wiki/Association_football') football
                                |  club in 
                                a(href='https://en.wikipedia.org/wiki/Liverpool') Liverpool
                                | , England, that competes in the 
                                a(href='https://en.wikipedia.org/wiki/Premier_League') Premier League
                                | , the top tier of 
                                a(href='https://en.wikipedia.org/wiki/English_football_league_system') English football
                                | . The club 
                                a(href='https://en.wikipedia.org/wiki/List_of_football_clubs_in_England_by_competitive_honours_won') has won
                                |  5 
                                a(href='https://en.wikipedia.org/wiki/UEFA_Champions_League') European Cups
                                | , 
                                a(href='https://en.wikipedia.org/wiki/List_of_European_Cup_and_UEFA_Champions_League_finals') more
                                |  than any other English club, 3 
                                a(href='https://en.wikipedia.org/wiki/UEFA_Europa_League') UEFA Cups
                                | , 3 
                                a(href='https://en.wikipedia.org/wiki/UEFA_Super_Cup') UEFA Super Cups
                                | , 18 
                                a(href='https://en.wikipedia.org/wiki/List_of_English_football_champions#Total_titles_won') League titles
                                | , 7 
                                a(href='https://en.wikipedia.org/wiki/FA_Cup') FA Cups
                                | , a record 8 
                                a(href='https://en.wikipedia.org/wiki/Football_League_Cup') League Cups
                                | , and 15 
                                a(href='https://en.wikipedia.org/wiki/FA_Community_Shield') FA Community Shields
                                | .
                            p
                                | Founded in 1892, the club joined the 
                                a(href='https://en.wikipedia.org/wiki/English_Football_League') Football League
                                |  the following year and has played at 
                                a(href='https://en.wikipedia.org/wiki/Anfield') Anfield
                                |  since its formation. Liverpool established itself as a major force in English and European football in the 1970s and 1980s when 
                                a(href='https://en.wikipedia.org/wiki/Bill_Shankly') Bill Shankly
                                |  and 
                                a(href='https://en.wikipedia.org/wiki/Bob_Paisley') Bob Paisley
                                |  led the club to 11 League titles and seven European trophies. Under the management of 
                                a(href='https://en.wikipedia.org/wiki/Rafael_Ben%C3%ADtez') Rafael Benítez
                                |  and captained by 
                                a(href='https://en.wikipedia.org/wiki/Steven_Gerrard') Steven Gerrard
                                | , Liverpool became European champions for the fifth time in 
                                a(href='https://en.wikipedia.org/wiki/2005_UEFA_Champions_League_Final') 2005
                                | .
                            p
                                | Liverpool was the 
                                a(href='https://en.wikipedia.org/wiki/Deloitte_Football_Money_League') ninth highest-earning
                                |  football club in the world in 2016–17, with an annual revenue of €424.2 million,
                                sup
                                    a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-3') [3]
                                |  and the world’s 
                                a(href='https://en.wikipedia.org/wiki/Forbes%27_list_of_the_most_valuable_football_clubs') eighth most valuable
                                |  football club in 2018, valued at $1.944 billion.
                                sup
                                    a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-4') [4]
                                |  The club is one of the best supported teams in the world.
                                sup
                                    a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-%E2%80%9Cglobal%E2%80%9D-5') [5]
                                |  Liverpool has long-standing rivalries with 
                                a(href='https://en.wikipedia.org/wiki/Manchester_United_F.C.') Manchester United
                                |  and 
                                a(href='https://en.wikipedia.org/wiki/Everton_F.C.') Everton
                                | .
                            p
                                | The club’s supporters have been involved in two major tragedies: the 
                                a(href='https://en.wikipedia.org/wiki/Heysel_Stadium_disaster') Heysel Stadium disaster
                                | , where escaping fans were pressed against a collapsing wall at the 
                                a(href='https://en.wikipedia.org/wiki/1985_European_Cup_Final') 1985 European Cup Final
                                |  in Brussels, with 39 people – mostly Italians and 
                                a(href='https://en.wikipedia.org/wiki/Juventus_F.C.') Juventus
                                |  fans – dying, after which English clubs were given a five-year ban from European competition, and the 
                                a(href='https://en.wikipedia.org/wiki/Hillsborough_disaster') Hillsborough disaster
                                |  in 1989, where 96 Liverpool supporters died in a 
                                a(href='https://en.wikipedia.org/wiki/Human_stampede') crush
                                | against perimeter fencing.
                            p
                                | The team changed from red shirts and white shorts to an all-red home strip in 1964 which has been used ever since. The club’s anthem is “
                                a(href='https://en.wikipedia.org/wiki/You%27ll_Never_Walk_Alone') You’ll Never Walk Alone
                                | “.
                            .wp-block-spacer(style='height:50px', aria-hidden='true')
                            h2 First-team squad
                            table.wp-block-table.is-style-regular
                                tbody
                                    tr
                                        td 3
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Brazil')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Fabinho_(footballer,_born_1993)') Fabinho
                                    tr
                                        td 4
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Netherlands')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Virgil_van_Dijk') Virgil van Dijk
                                            em
                                                | (
                                                a(href='https://en.wikipedia.org/wiki/Vice-captain_(association_football)') third-captain
                                                | )
                                            sup
                                                a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-vicecpt-119') [119]
                                    tr
                                        td 5
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Netherlands')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Georginio_Wijnaldum') Georginio Wijnaldum
                                            em
                                                | (
                                                a(href='https://en.wikipedia.org/wiki/Vice-captain_(association_football)') fourth-captain
                                                | )
                                            sup
                                                a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-vicecpt-119') [119]
                                    tr
                                        td 6
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Croatia')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Dejan_Lovren') Dejan Lovren
                                    tr
                                        td 7
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/James_Milner') James Milner
                                            em
                                                | (
                                                a(href='https://en.wikipedia.org/wiki/Vice-captain_(association_football)') vice-captain
                                                | )
                                            sup
                                                a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-120') [120]
                                    tr
                                        td 8
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Guinea')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Naby_Ke%C3%AFta') Naby Keïta
                                    tr
                                        td 9
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Brazil')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Roberto_Firmino') Roberto Firmino
                                    tr
                                        td 10
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Senegal')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Sadio_Man%C3%A9') Sadio Mané
                                    tr
                                        td 11
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Egypt')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Mohamed_Salah') Mohamed Salah
                                    tr
                                        td 12
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Joe_Gomez_(footballer)') Joe Gomez
                                    tr
                                        td 13
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Brazil')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Goalkeeper_(association_football)') GK
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Alisson_(footballer,_born_1992)') Alisson
                                    tr
                                        td 14
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Jordan_Henderson') Jordan Henderson
                                            em
                                                | (
                                                a(href='https://en.wikipedia.org/wiki/Captain_(association_football)') captain
                                                | )
                                            sup
                                                a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-121') [121]
                                    tr
                                        td 15
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Daniel_Sturridge') Daniel Sturridge
                                    tr
                                        td 18
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Spain')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Alberto_Moreno') Alberto Moreno
                                    tr
                                        td 20
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Adam_Lallana') Adam Lallana
                                    tr
                                        td 21
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Alex_Oxlade-Chamberlain') Alex Oxlade-Chamberlain
                            table.wp-block-table.is-style-stripes
                                tbody
                                    tr
                                        td 22
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Belgium')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Goalkeeper_(association_football)') GK
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Simon_Mignolet') Simon Mignolet
                                    tr
                                        td 23
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Switzerland')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Xherdan_Shaqiri') Xherdan Shaqiri
                                    tr
                                        td 24
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Rhian_Brewster') Rhian Brewster
                                    tr
                                        td 26
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Scotland')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Andrew_Robertson_(footballer)') Andrew Robertson
                                    tr
                                        td 27
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Belgium')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Divock_Origi') Divock Origi
                                    tr
                                        td 32
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Cameroon')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Jo%C3%ABl_Matip') Joël Matip
                                    tr
                                        td 47
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Nathaniel_Phillips') Nathaniel Phillips
                                    tr
                                        td 48
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Curtis_Jones_(footballer)') Curtis Jones
                                    tr
                                        td 50
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Serbia')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Lazar_Markovi%C4%87') Lazar Marković
                                    tr
                                        td 51
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Netherlands')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Ki-Jana_Hoever') Ki-Jana Hoever
                                    tr
                                        td 56
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Connor_Randall') Connor Randall
                                    tr
                                        td 58
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Wales')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Forward_(association_football)') FW
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Ben_Woodburn') Ben Woodburn
                                    tr
                                        td 62
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Republic_of_Ireland')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Goalkeeper_(association_football)') GK
                                        td Caoimhin Kelleher
                                    tr
                                        td 64
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Portugal')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Rafael_Camacho') Rafael Camacho
                                    tr
                                        td 66
                                        td
                                            a(href='https://en.wikipedia.org/wiki/England')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Defender_(association_football)') DF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Trent_Alexander-Arnold') Trent Alexander-Arnold
                                    tr
                                        td 68
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Spain')
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Midfielder') MF
                                        td
                                            a(href='https://en.wikipedia.org/wiki/Pedro_Chirivella') Pedro Chirivella
                            ul
                                li
                                    | Manager: 
                                    a(href='https://en.wikipedia.org/wiki/Germany')
                                    a(href='https://en.wikipedia.org/wiki/J%C3%BCrgen_Klopp') Jürgen Klopp
                                li
                                    | Assistant coach: 
                                    a(href='https://en.wikipedia.org/wiki/Netherlands')
                                    a(href='https://en.wikipedia.org/wiki/Pepijn_Lijnders') Pepijn Lijnders
                                li
                                    | Assistant coach: 
                                    a(href='https://en.wikipedia.org/wiki/Germany')
                                    |  Peter Krawietz
                                li
                                    | First-team goalkeeping coach: 
                                    a(href='https://en.wikipedia.org/wiki/Netherlands')
                                    a(href='https://en.wikipedia.org/wiki/John_Achterberg') John Achterberg
                                li
                                    | Head of fitness and conditioning: 
                                    a(href='https://en.wikipedia.org/wiki/Germany')
                                    |  Andreas Kornmayer
                                li
                                    | Strength & rehabilitation assistant: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  David Rydings
                                li
                                    | Head of medical services: 
                                    a(href='https://en.wikipedia.org/wiki/Northern_Ireland')
                                    |  Andrew Massey
                                li
                                    | Rehab fitness coach:
                                    a(href='https://en.wikipedia.org/wiki/Germany')
                                    |  Philipp Jacobsen
                                li
                                    | Masseurs: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Paul Small, 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    a(href='https://en.wikipedia.org/wiki/Sylvan_Richardson') Sylvan Richardson
                                li
                                    | Physiotherapists: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Matt Konopinski, 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Scott McAuley, 
                                    a(href='https://en.wikipedia.org/wiki/Republic_of_Ireland')
                                    a(href='https://en.wikipedia.org/wiki/Richie_Partridge') Richie Partridge
                                li
                                    | Sports therapist: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Pedro Philippou
                                li
                                    | Consultant nutritionist: 
                                    a(href='https://en.wikipedia.org/wiki/Germany')
                                    |  Mona Nemmer
                                li
                                    | Sports science consultant: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Barry Drust
                                li
                                    | Performance analyst: 
                                    a(href='https://en.wikipedia.org/wiki/Portugal')
                                    |  James French
                                li
                                    | Scouting and recruitment analyst: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Kyle Wallbanks
                                li
                                    | Kit management co-ordinators: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    |  Lee Radcliffe, 
                                    a(href='https://en.wikipedia.org/wiki/Wales')
                                    |  Graham Carter
                                li
                                    | Academy Director: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    a(href='https://en.wikipedia.org/wiki/Alex_Inglethorpe') Alex Inglethorpe
                                li
                                    | Under 23s coach: 
                                    a(href='https://en.wikipedia.org/wiki/England')
                                    a(href='https://en.wikipedia.org/wiki/Neil_Critchley') Neil Critchley
                            ol
                                li Liverpool
                                li Manchester City
                                li Tottenham hotspur
                                li …
                            .wp-block-button
                                a.wp-block-button__link(href='https://www.youtube.com/watch?v=6vT3vwZeVGA') button
                            hr.wp-block-separator.is-style-wide
                            blockquote.wp-block-quote
                                p This city has two great teams – Liverpool and Liverpool reserves.
                                cite
                                    strong Bill Shankly
                            .wp-block-columns.has-2-columns
                                .wp-block-column
                                    p(style='font-size:14px')
                                        | Liverpool is one of the best supported clubs in the world.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-%E2%80%9Cglobal%E2%80%9D-5') [5]
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-71') [71]
                                        |  The club states that its worldwide fan base includes more than 200 officially recognised Club of the LFC Official Supporters Clubs in at least 50 countries. Notable groups include 
                                        a(href='https://en.wikipedia.org/wiki/Spirit_of_Shankly') Spirit of Shankly
                                        | .
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-72') [72]
                                        |  The club takes advantage of this support through its worldwide summer tours,
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-73') [73]
                                        |  which has included playing in front of 101,000 in Michigan, U.S., and 95,000 in Melbourne, Australia.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-74') [74]
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-75') [75]
                                        | Liverpool fans often refer to themselves as 
                                        strong Kopites
                                        | , a reference to the fans who once stood, and now sit, on the Kop at Anfield.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-76') [76]
                                        |  In 2008 a group of fans decided to form a splinter club, 
                                        a(href='https://en.wikipedia.org/wiki/A.F.C._Liverpool') A.F.C. Liverpool
                                        | , to play matches for fans who had been priced out of watching Premier League football.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-77') [77]
                                .wp-block-column
                                    p(style='font-size:14px')
                                        | The song “
                                        a(href='https://en.wikipedia.org/wiki/You%27ll_Never_Walk_Alone') You’ll Never Walk Alone
                                        | “, originally from the Rodgers and Hammerstein musical 
                                        em Carousel
                                        |  and later recorded by Liverpool musicians 
                                        a(href='https://en.wikipedia.org/wiki/Gerry_and_the_Pacemakers') Gerry and the Pacemakers
                                        | , is the club’s anthem and has been sung by the Anfield crowd since the early 1960s.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-78') [78]
                                        |  It has since gained popularity among fans of other clubs around the world.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-79') [79]
                                        |  The song’s title adorns the top of the Shankly Gates, which were unveiled on 2 August 1982 in memory of former manager Bill Shankly. The “You’ll Never Walk Alone” portion of the Shankly Gates is also reproduced on the club’s crest.
                                        sup
                                            a(href='https://en.wikipedia.org/wiki/Liverpool_F.C.#cite_note-80') [80]
                            hr.wp-block-separator.is-style-wide
                            figure.wp-block-embed-twitter.wp-block-embed.is-type-rich.is-provider-twitter
                                .wp-block-embed__wrapper
                                    iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered(scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true', style='position: static; visibility: visible; display: inline-block; width: 900px; height: 1000px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;', data-widget-id='profile:LFC', title='Twitter Timeline')
                                    script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                            .wp-block-cover.has-background-dim-20.has-vivid-red-background-color.has-background-dim(style='background-image:url(http://teamoneexhibits/wp-content/uploads/2019/01/wp1889560-2.jpg)')
                                p.wp-block-cover-text
                                    strong Anfield
                            figure.wp-block-video
                                video(controls='', src='http://teamoneexhibits/wp-content/uploads/2019/01/SampleVideo_1280x720_1mb.mp4')
                            figure.wp-block-embed-instagram.wp-block-embed.is-type-rich.is-provider-instagram
                                .wp-block-embed__wrapper
                                    iframe#instagram-embed-0.instagram-media.instagram-media-rendered(src='https://www.instagram.com/p/BtNu8OTlbRE/embed/captioned/?cr=1&v=12&wp=658&rd=http%3A%2F%2Fteamoneexhibits&rp=%2Ftest%2F#%7B%22ci%22%3A0%2C%22os%22%3A1472.4999999998545%7D', allowtransparency='true', allowfullscreen='true', frameborder='0', height='947', data-instgrm-payload-id='instagram-media-payload-0', scrolling='no', style='background: white; max-width: 658px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;')
                                    script(async='', src='//www.instagram.com/embed.js')
                            figure.wp-block-embed-youtube.wp-block-embed.is-type-video.is-provider-youtube.wp-embed-aspect-16-9.wp-has-aspect-ratio
                                .wp-block-embed__wrapper
                                    iframe(width='900', height='506', src='https://www.youtube.com/embed/6vT3vwZeVGA?feature=oembed', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            figure.wp-block-embed-vimeo.wp-block-embed.is-type-video.is-provider-vimeo.wp-embed-aspect-16-9.wp-has-aspect-ratio
                                .wp-block-embed__wrapper
                                    iframe(src='https://player.vimeo.com/video/313779351?app_id=122963', width='900', height='506', frameborder='0', title='River Mersey GV', allow='autoplay; fullscreen', allowfullscreen='')
                            p Shortcode
                            ul.wp-block-archives.wp-block-archives-list
                                li
                                    a(href='http://teamoneexhibits/2019/01/') January 2019
                            ul.wp-block-categories.wp-block-categories-list
                                li.cat-item.cat-item-1
                                    a(href='http://teamoneexhibits/category/%d0%b1%d0%b5%d0%b7-%d1%80%d1%83%d0%b1%d1%80%d0%b8%d0%ba%d0%b8/') Без рубрики
                            ul.wp-block-latest-posts
                                li
                                    a(href='http://teamoneexhibits/2019/01/29/%d0%bf%d1%80%d0%b8%d0%b2%d0%b5%d1%82-%d0%bc%d0%b8%d1%80/') Привет, мир!
                            ol.wp-block-latest-comments.has-avatars.has-dates.has-excerpts
                                li.wp-block-latest-comments__comment
                                    img.avatar.avatar-48.photo.wp-block-latest-comments__comment-avatar(alt='', src='http://1.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=48&d=mm&r=g', srcset='http://1.gravatar.com/avatar/d7a973c7dab26985da5f961be7b74480?s=96&d=mm&r=g 2x', height='48', width='48')
                                    article
                                        footer.wp-block-latest-comments__comment-meta
                                            a.wp-block-latest-comments__comment-author(href='https://wordpress.org/') Автор комментария
                                            |  on
                                            a.wp-block-latest-comments__comment-link(href='http://teamoneexhibits/2019/01/29/%d0%bf%d1%80%d0%b8%d0%b2%d0%b5%d1%82-%d0%bc%d0%b8%d1%80/#comment-1') Привет, мир!
                                            time.wp-block-latest-comments__comment-date(datetime='2019-01-29T19:05:44+00:00') 29.01.2019
                                        .wp-block-latest-comments__comment-excerpt
                                            p
                                                | Привет! Это комментарий. Чтобы начать модерировать, редактировать и удалять комментарии, перейдите на экран «Комментарии» в консоли. Аватары авторов комментариев загружаются…
                            a.post-edit-link(href='http://teamoneexhibits/wp-admin/post.php?post=35&action=edit') Edit


                                include pug/template/_comments-wp
                    .col-md-4
                        aside#sidebar
                            include pug/template/_widgets
        include pug/common/_footer